# PySpark series from ***Krish Naik***

How can we use spark with Python?
For this we have library calles as PySpark

It's use for preprocessing

how to use in cloud

It's simple

Fast 100x as compare to pandas

#Use
Suppose you have 8 gb ram system but data that you want to use is 65 gb so what you do?
For this kind of problem pyspark come into the picture

Also have mlib for machine learning library

We can perform work into distribution of system

before this we useing map reduce(spark is much faster than map reduce)

It's run on cluster mode

It's built on the top of Hadoop

In [1]:
import pyspark

In [2]:
# How to read in pandas

import pandas as pd

pd.read_csv('test1.csv')

       Name  Age
0     Krish   31
1  Sudhansh   30
2     Sunny   29

# In Spark

First of all we have to start a **Spark Session**

Note- make sure you have java in your system

In [4]:
from pyspark.sql import SparkSession

In [7]:
spark= SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [12]:
df_pyspark=spark.read.csv('test1.csv')

In [13]:
# It's only gives you column name with it's default type as string

#Automatically gives you c0 and c1 column name

df_pyspark

DataFrame[_c0: string, _c1: string]

In [15]:
# To show the data

df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [18]:
# To read file column as column name in spark

df_pyspark= spark.read.option('header','true').csv('test1.csv')
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|   Sunny| 29|
+--------+---+

In [19]:
# Type of data frame in pyspark

type(df_pyspark)

#It's an SQL dataframe

pyspark.sql.dataframe.DataFrame

In [24]:
# Head Working
# In pyspark head with take only one row by default

df_pyspark.head(3)

[Row(Name='Krish', Age='31'),
 Row(Name='Sudhansh', Age='30'),
 Row(Name='Sunny', Age='29')]

In [27]:
# To see the Schema(same as df.info())

df_pyspark.printSchema()

#As you can see both are string so as per rule age shoul be integer

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)